<!DOCTYPE html>
<html lang="ko">
  <head>
    <%-include('include/head')%>
    <title>title</title>
    <link rel="stylesheet" href="../public/css/mybuypage.css" />
  </head>
  <body>
    <%#- include('include/header') %>
    <main class="max-container">
      <h1>나의 구매 목록 페이지</h1>

      <div class="contain">
        <% if (isSuccess) {%>
        <div class="product-card list">
          <% orders.forEach(order => { %>
          <div class="buy-card">
            <a href="/host/list/<%=order.product_key%>">
              <img
                src="/uploads/<%=order.product.image %>"
                alt="<%=order.product.name %>"
              />
              <ul class="order-item">
                <li>상품명: <%=order.product.name %></li>
                <li>상품 가격: <%= order.product.price %></li>
                <li>수량: <%= order.quantity %></li>
                <li>배송지: <%= order.address %></li>
                <li class="deadline">
                  마감일:<strong><%= order.product.deadline %></strong>
                </li>
                <!-- ???? -->
              </ul>
              <div>
                <progress
                  class="count"
                  max="30"
                  value="<%#=order.quantity %>10"
                ></progress
                >10개
              </div>
            </a>
          </div>
          <%})%>
        </div>
      </div>
      <% } else { %>
      <p><%= message %></p>
      <% } %>
    </main>
    <div class="home">
      <a href="/user/mypage">
        <img class="home" src="/public/img/logo-title.png" alt="home" />
      </a>
    </div>
    <script>
      const dateTags = document.querySelectorAll('.deadline > strong');

      dateTags.forEach((dateTag) => {
        const text = dateTag.innerText.split('GMT')[0];

        const deadLineDate = new Date(text);
        const year = deadLineDate.getFullYear();
        const month = deadLineDate.getMonth() + 1;
        const date = deadLineDate.getDate();

        const time = `${deadLineDate.getHours()}:${deadLineDate.getMinutes()}:${deadLineDate.getSeconds()}`;

        let day = getDayInKorean(deadLineDate.getDay());
        const dateText = `${year}-${month}-${date} (${day})`;

        dateTag.innerText = dateText;
      });

      function getDayInKorean(number) {
        let day;
        switch (number) {
          case 0:
            day = '일';
            break;
          case 1:
            day = '월';
            break;
          case 2:
            day = '화';
            break;
          case 3:
            day = '수';
            break;
          case 4:
            day = '목';
            break;
          case 5:
            day = '금';
            break;
          case 6:
            day = '토';
            break;
          default:
            day = '?';
            break;
        }

        return day;
      }
    </script>
  </body>
</html>
