<!DOCTYPE html>
<html lang="ko">
  <head>
    <%-include('include/head')%>
    <title>title</title>
    <link rel="stylesheet" href="../public/css/mybuypage.css" />
  </head>
  <body>
    <%#- include('include/header') %>
    <main class="max-container">
      <h1>나의 주선 목록 페이지</h1>

      <div class="contain">
        <% if (isSuccess) {%>
        <div class="product-card list">
          <% products.forEach(product => { %>
          <div class="buy-card">
            <a href="/host/list/<%=product.product_key%>">
              <img
                src="/uploads/<%=product.image %>"
                alt="<%=product.name %>"
              />
              <ul class="order-item">
                <li>상품명: <%=product.name %></li>
                <li>상품 가격: <%=product.price %></li>
                <li>구매 마감일: <%=product.deadline %></li>
                <li>구매 현황: <%=product.max_quantity %></li>
                <li>확인: <%=product.product_key%></li>
              </ul>
              <div>
                <progress
                  class="count"
                  max="30"
                  value="<%#=order.quantity %>10"
                ></progress
                >10개
              </div>
            </a>
          </div>
          <%})%>
        </div>
      </div>
      <% } else { %>
      <p><%= message %></p>
      <% } %>
    </main>
    <div class="home">
      <a href="/user/mypage">
        <img class="home" src="/public/img/logo-title.png" alt="home" />
      </a>
    </div>
  </body>
</html>
